.pokemon-grid {
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 25vw 25vw 25vw;
  gap: var(--the-padding);
  color: var(--main-text-color);
  padding: var(--the-padding);
  backdrop-filter: var(--the-blur);
  box-shadow: var(--the-box-shadow);
  font-family: var(--thick-font-family);
  border-radius: var(--the-border-radius);
  background-color: var(--main-background);

  & > div {
    display: grid;
    border: 1px dashed #393939;
    padding: 3px var(--the-padding); 
    grid-template-rows: 1em 1fr 1.5em;
    grid-template-columns: auto 1fr auto;

    & > .full {
      grid-column: 1 / 4;
      text-align: center;
      font-size: 125%;
    }

    & > .right {
      grid-column: 3 / 4;
    }

    & > img {
      justify-self: center;
      width: calc(100% - 2em);
    }
  }
}
