.wrapper {
  z-index: 100;
  display: grid;
  font-size: 150%;
  align-content: center;
  justify-content: center;
  pointer-events: all;
  grid-template-rows: 50%;
  grid-template-columns: 75%;
  box-shadow: var(--the-box-shadow);
  font-family: var(--thick-font-family);
  border-radius: var(--the-border-radius);
  background-color: var(--chosen-background);

  & > .center {
    display: grid;
    pointer-events: all;
    padding: var(--the-big-padding);
    grid-template-rows: auto 1fr;
    box-shadow: var(--the-box-shadow);
    border-radius: var(--the-border-radius);
    background-color: var(--modal-background);

    & > .search {
      border: none;
      font-size: 100%;
      line-height: 2em;
      box-shadow: var(--the-box-shadow);
      font-family: var(--thin-font-family);
      border-radius: var(--the-border-radius);
    }

    & > .results {
      margin: var(--the-padding);
      padding: var(--the-big-padding);
      border-radius: var(--the-border-radius);
      background-color: var(--white-background);
      justify-items: stretch;
      align-items: stretch;
      max-height: 10em;
      overflow: scroll;

      & > div {
        border-bottom: 2px solid white;
        grid-template-columns: 64px 1fr auto;
        grid-template-rows: 64px;
        display: grid;

        & > img {
          filter: var(--the-drop-shadow);
          max-height: 64px;
        }

        & > div > .accept {
          cursor: pointer;
          pointer-events: all;
          padding: var(--the-padding) var(--the-big-padding);
          box-shadow: var(--the-box-shadow);
          border-radius: var(--the-border-radius);
          background-color: var(--major-background);
        }
      }
    }
  }
}
